.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
}

.root label {
  white-space: nowrap;
  font-family: Roboto, sans-serif;
}

.root *:nth-child(2) {
  flex: 1;
}